@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Orange-500: hsl(25, 97%, 53%);
  --White: hsl(0, 100%, 100%);
  --Dark-Blue: hsl(223, 87%, 63%);
  --light-Grey: hsl(217, 12%, 63%);
  --Dark-Grey: hsl(213, 19%, 18%);
  --very-Dark-Blue: hsl(216, 12%, 8%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--very-Dark-Blue);
  color: var(--White);
  display: grid;
  height: 100vh;
  place-items: center;
}

button {
  background-color: transparent;
  color: var(--White);
  border: none;
  font-family: inherit;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.rating-container,
.thank-you {
  background-color: var(--Dark-Grey);
  margin-inline: auto;
  max-width: 400px;
  border-radius: 25px;
  padding: 30px;
}

.start,
h1,
p {
  margin-bottom: 1rem;
}
p {
  color: var(--light-Grey);
  line-height: 1.6;
  text-align: justify;
}

.start {
  width: 40px;
  height: 40px;
  background-color: var(--very-Dark-Blue);
  border-radius: 50%;
  display: grid;
  text-align: center;
  place-items: center;
  margin-left: left;
  line-height: 30px;
}

.rating-number {
  gap: 1rem;
  display: flex;
  margin-bottom: 2rem;
}

.rating-btn {
  background-color: var(--very-Dark-Blue);
  color: var(--light-Grey);
  font-size: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.rating-btn:focus {
  background-color: var(--Orange-500);
  color: var(--White);
}

.rating-btn:hover {
  background-color: var(--light-Grey);
  color: var(--White);
}
.btn {
  width: 100%;
  color: var(--Dark-Grey);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-style: solid;
  border-color: var(--Orange-500);
  background-color: var(--Orange-500);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: transparent;
  color: var(--Orange-500);
}

.thank-you {
  text-align: center;
}
.thank-you img {
  margin-bottom: 2rem;
}

.rating-result {
  background-color: var(--very-Dark-Blue);
  color: var(--Orange-500);
  width: fit-content;
  display: inline-block;
  padding: 0.6rem 2rem;
  border-radius: 50px;
  margin-bottom: 2rem;
}

/* 📱 Responsividad */
@media screen and (max-width: 768px) {
  .rating-container,
  .thank-you img {
    padding: 20px;
    max-width: 90%;
  }

  .rating-result {
    padding: 0.5rem 1.5rem;
    width: fit-content;
    height: fit-content;
  }

  .rating-btn {
    width: 40px;
    height: 40px;
    font-size: 0.9rem;

    display: flex-box;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1440px) {
  body {
    padding: 0.5rem;
  }
  .rating-container,
  .thank-you,
  .App {
    padding: 15px;
  }

  .rating-number {
    padding: 0.5rem 1.5rem;
    row-gap: 20px;
  }

  .btn {
    display: inline;
    width: 70%;
    font-size: 1rem;
    letter-spacing: 1px;
    justify-content: center;
  }

  .rating-btn {
    width: 40px;
    height: 40px;
    font-size: 0.9rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
